[Desktop Entry]
Encoding=UTF-8
Name=X11 Resolution Switcher
Comment=Quick Shortcut to Change Screen Resolution
Icon=ui/display-color.svg
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Dito
X-KDE-PluginInfo-Email=bundito@gmail.com
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=com.bundito.screenrez
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=https://www.bundito.com/plasmoid/screenrez
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-NotificationArea=true
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Windows and Tasks
