[Desktop Entry]
Encoding=UTF-8
Name=ScreenRez
Comment=Change screen resolution
Icon=video-display
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Dito
X-KDE-PluginInfo-Email=bundito@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.xrandr
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Windows and Tasks
